<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/ashutoshmishra/Desktop/myWork/sampleRestAssuredFramework"><classes><class name="tests.VerifySatellitePositions"><methods><include name="getPosition"/><include name="getPositionForInvalidSatellite"/><include name="getPositionResponseHeaders"/><include name="getPositionResponseSize"/><include name="getPositionWithoutRequiredQueryParameters"/><include name="getPositionModification"/></methods></class><class name="tests.VerifySatelliteTles"><methods><include name="getTles"/><include name="getTlesForInvalidSatellite"/><include name="getTlesResponseHeaders"/><include name="getTlesResponseSize"/><include name="getPositionModification"/><include name="getPositionInTextFormat"/></methods></class></classes></test></suite>